@font-face {
    font-family: PP mori;
    src: url(./ppmori.ttf);
}
@font-face{
    src: url("DancingScript-VariableFont_wght.ttf");
    font-family: "dancing script";
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}
#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
}
/* .cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    transition: background-image ease 0.5s; 
    background-position: center; 
    background-size:cover ;
    mix-blend-mode: difference;
    left: 0; 
    top: 0; 
    transform: translate(-50%, -50%); 
} */
.main{
    background-color: #0F0D0D;
   
} 

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}


#nav{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index:102;
}
#nav img{
    height: 27px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#nav a{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}
#nav a:nth-child(1){
    border-bottom: 1.5px solid #fff;
}
#nav #prt2{
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
#prt2 #menu{
    width: 2vw;
    height: 1.6vh;
    /* background-color: yellow; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    flex-direction: column;
    
    /* background-color: red; */
}
#menu .line{
    border-radius: 10px;
    height: 0.3vh;
    width: 100%;
    background-color: #cecece;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
#line1{
    /* transform: rotate(40deg); */
    transform-origin: 0 100%;

}
#menu #line2{
    width: 70%;
    transform-origin: 30% 50%;
    /* transform: rotate(-40deg); */
}
#topmenu{
    background-color: #cecece;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    color: #2b2b2b;
    transform: translateY(-100%);
    border-top: 1px solid #000;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.8s;
    
}
#topmenu2{
    background-color: #cecece;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 11;
    color: #2b2b2b;
    transform: translateX(-100%);
    border-top: 1px solid #000;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.8s;
    
}

#topmenu h1{
    font-size: 7.5vw;
    margin-top: 10.5vh;
    margin-left: 4.8vw;
    letter-spacing: 2vw;
    z-index: 120;
    text-transform: uppercase;
}
#topmenu h1 span {
    color: #2b2b2b;
    z-index: 12;
    cursor: pointer;
}
#opt{
    height: 60vh;
    width: 45vw;
    margin-left: 5.5vw;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    flex-wrap: wrap;
    /* background-color: azure; */
}
#opt{
    height: 60vh;
    width: 45vw;
    margin-left: 5.5vw;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    flex-wrap: wrap;
    /* background-color: azure; */
}
#opt h4{
    /* background-color: red; */
    font-size: 1.8vw;
    font-family: 'montserrat';
    margin-bottom: 2.2vh;
    /* background-color: aqua; */
    font-weight: 500;
    cursor: pointer;
    width: 15vw;
    color: #000;
}

.page1 h1{
    display: flex;
    font-size: 5vw;
    font-weight: 300;
    font-family: PP mori;
    margin-left: 6vw;
    transform-origin: left;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 5.9rem;
}
.page1 h2{
    font-size: 3vw;
    font-weight: 300;
    transform-origin: left;
    margin-left: 26vw;
    color: white;
   
}

.page1 img{
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
}

.page2 h1{
    font-size:7vw;
    font-weight: 500;
    color: #111;

}
.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}
.page2-left{
    /* background-color: blue; */
    width: 40%;
}
.page2-right{
    /* background-color: blue; */
    width: 24%;
}
.page2-left h2{
    font-size: 4vw;
    font-weight: 300;
    color: #111;
    line-height: 4vw;
}
.page2-right p{
    font-size: 28px;
    color: #111;
}
.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 20px;
    cursor: pointer;
}
.page1 .pur :nth-child(1) {
	animation-delay: 2s;
}
.page1 .pur :nth-child(1) span {
	animation-delay: 5.5s;
}
.page1 .pur span {
	content: '';
	position: absolute;
	height: 100%;
	width: 0;
	left: 0;
	top: 0;
	background-color: rgb(255, 255, 255);
	animation: revealing 1s ease forwards;
	animation-delay: .5s;
}
@keyframes text_revealing {
	100% {
		color: rgb(0, 0, 0);
	}
}
@keyframes revealing {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		left: 100%;
		width: 0%;
	}
}


.page3{
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 9;
}

.page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color: #111;
    margin-left: 100px;
}
.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.page3-part1 img{
    height: 400px;
    margin-top: 160px;
}
.page3-part1 video{
    height: 400px;
    margin-top: 40px;
}

#page4{
    /* background-image: url(https://uploads-ssl.webflow.com/61defec4a021d8fe954c11bd/61defec4a021d83ede4c11f8_stars.gif); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.page4{
    height: 100vh;
    background-color: #232025;
    position: relative;
    padding: 10vh 6vw;
}
.page4 #line{
    height: 2px;
    width: 30%;
    background-color: #fff;
}
#page4 h1{
    /* background-color: red; */
    width: 55vw;
    font-size: 4vw;
    line-height: 7vh;
}
#page4 h1 span{
    font-family: 'dancing script';
    font-size: 5.2vw;
}
#page4 .h4{
    margin-top: 8vh;
    font-size: 1.05vw;
    text-align: left;
    font-weight: 100;
}

#page4 img{
    margin-top: 20vh;
}
.page7{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 170px 100px;
}
.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right: 5%;
}
.text-div{
    height: 16vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}


.page7{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
.page7 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}
.box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}

.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;

}


footer{
    height: 90vh;
    width: 100%;
    background-color: #EDBFFF;
}


.char {
    transform: translateY(115px);
    transition: transform .5s;
}

#page7{
    background-color: #232025;
    /* height: 120vh; */
    
}
#finish{
    padding: 26vh 10vw 0vh 5vw;
    opacity: 0;

}   
#finish>h1{
    font-size: 8vw;
    /* background-color: rgb(2, 88, 88); */
    margin-bottom: -4vh;
}
#box{
    height: 30vh;
    margin-top: 15vh;
    display: flex;
    position: relative;
    /* background-color: beige; */
    border-top: 1px solid #cecece ;
    border-bottom: 1px solid #cecece ;
}
#box #box1{
    width: 70vw;
    height: 100%;
    /* background-color: red; */
    border-right: 1px solid #cecece ;
    padding: 5.5vh 5vw;
}
#box #box2{
    width: 30vw;
    height: 100%;
    padding: 7.5vh 4vw 5.5vh 5vw;
    /* background-color: rgb(126, 83, 226); */
}
#box1 h2{
    font-size: 4vw;
    margin-bottom: -2vh;
}
#box2 h3{
    font-size: 1.5vw;
    margin-bottom: 1.3vh;
}
#page8{
    /* height: 120vh; */
    background-color: #0F0D0D;
}
#page8 .slide1h1{
    overflow-x: auto;
    overflow-y: hidden;
    cursor: default;
}
#page8 .slide2h1{
    overflow-x: auto;
    overflow-y: hidden;
    cursor: default;
}
#page8 .slide2h1 h1{
    transform: translateX(-96%);
}
#page8 h1{
    font-size: 13vw;
    text-transform: uppercase;
    line-height: 23vh;
}
#page8 .slide1h1::-webkit-scrollbar{
    display: none;
}
#page8 .slide2h1::-webkit-scrollbar{
    display: none;
}
#page8 h1 .one2{
    color: transparent;
    -webkit-text-stroke: 1px #adadad;
}